img{
width: 125%
}

.column1 {
  width: 300px;
  float: left;
  color: blue;
}

.description1{
  color: black;
}

.column2 {
  width: 300px;
  float: left;
  color: red;
  }

.column3 {
  width: 300px;
  float: left;
  color: green;
  }

@media screen and (max-width: 780px) {
  body {
    background-color: pink;
  }
}

@media screen and (max-width: 480px) {
  body {

  background-color: blue;
  font-style: italic;
  }
}
